<html layout:decorate="~{/domain/layout/layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post, loop : ${posts}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{/posts/{postId}(postId=${post.id})}" th:text="${post.title}">게시글 제목</a>
            </td>
            <td th:text="${post.author}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/posts/create}" class="btn btn-primary">게시물 작성하기</a>
</div>